<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<% for(var i = 0; i < content.length; i++) { %>
<div>
    <img src="<%= content[i].image %>" style="width: 160px; height: 160px;"/>
    <h3> <%= type %> </h3>

    <h3> <%= content[i].name %> </h3>

    <button><a href="<%=type%>/<%= content[i]._id %>">Details</a></button>
</div>
<% } %>
</body>
</html>